<style>

</style>
<div class="jumbotron text-center">
  <h1 class="display-3">
    {{title}}
    <p class="lead">KYGM Services Client Tracking</p>
  </h1>
</div>
<div name="main">
  <div name="one">
    <button type="button" class="btn btn-secondary">One</button>
  </div>
  <div name="two">
    <button type="button" class="btn btn-secondary">Sgit lecond</button>
  </div>
  <div name="three">
    <button type="button" class="btn btn-secondary">Third</button>
  </div>
  <p>Enter 'git log' in terminal to view every commit in the
    master branch
  </p>
</div>