<style>

</style>
<div class="jumbotron text-center">
  <h1 class="display-3">
    {{title}}
    <p class="lead">KYGM Services Client Tracking</p>
  </h1>
</div>
<div name="main">
  <div name="View Clients">
    <a class="btn btn-secondary btn-block"href="/clients/viewClient">View Clients</a>
  </div>
  <div name="Add Clients">
    <a class="btn btn-secondary btn-block"href="/clients/addClient">Add Clients</a>
  </div>
  <div name="View Transactions">
    <a class="btn btn-secondary btn-block"href="/clients/viewTransact">View Transactions</a>
  </div>
  <div name="Add Transactions">
    <a class="btn btn-secondary btn-block"href="/clients/viewClient">Add Transactions</a>
  </div>

</div>