<div class="jumbotron text-center">
  <h3>Todays Date</h3>
  <h3>{{title}}</3>
    <h3 class="display-3">
      <p class="lead">KYGM Services Client Tracking</p>
    </h3>
</div>
<div name="main">
  <table>
    <tr>
      <td style="width:50%;height:20%">
        <div name="View Clients" class="card">
          <a href="/clients/viewClient">
            <img class="card-img mx-auto d-block" src="https://publicdomainvectors.org/download.php?file=1536431611.svg"
              style="height:250px">
            {{!-- https://www.vippng.com/png/detail/503-5038892_define-permissions-for-users-and-groups-to-control.png
            --}}
            <div class="card-img-overlay card-body">
              <p class="btn btn-secondary btn-block">View Clients</p>
            </div>
          </a>
        </div>
      </td>
      <td style="width:50%;height:20%">
        <div name="Add Clients" class="card">
          <a href="/clients/addClient">
            <img class="card-img mx-auto d-block" src="https://image.flaticon.com/icons/png/512/166/166260.png"
              style="width:70%;height:250px">
            {{!--
            https://www.flaticon.com/svg/vstatic/svg/166/166260.svg?token=exp=1613883793~hmac=3c6be35bda80b84621c1777b76fca2ad
            --}}
            <div class="card-img-overlay">
              <p class="btn btn-secondary btn-block">Add Clients</p>
            </div>
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width:50%;height:20%">
        <div name="View Transactions" class="card">
          <a href="/clients/viewTransact">
            <img class="card-img mx-auto d-block"
              src="https://onedonation.org/wp-content/uploads/2017/04/Transaction-1030x1030.png"
              style="width:70%;height:250px">
            <div class="card-img-overlay card-body">
              <p class="btn btn-secondary btn-block">View Transactions</p>
            </div>
          </a>
        </div>
      </td>
      <td style="width:50%;height:20%">
        <div name="Add Transactions" class="card">
          <a href="/clients/viewClient">
            <img class="card-img mx-auto d-block"
              src="https://www.clipartkey.com/mpngs/b/52-529903_mexican-flag-clipart.png"
              style="width:80%;height:250px">
            {{!-- https://cdn2.iconfinder.com/data/icons/flat-money/114/money-add-512.png --}}
            <div class="card-img-overlay">
              <p class="btn btn-secondary btn-block">Add Transactions</p>
            </div>
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <div name="View Revenue" class="card">
        <a href="/clients/revenue">
          <p class="btn btn-success btn-block">View Revenue</p>
        </a>
      </div>
    </tr>
</div>
</table>
<footer>
  <p>Created by KYGM and KRR for KGYM Services</p>
  <p>Version 1.60, EDKH</p>
</footer>