<body>
  <header>
    <!-- Intro settings -->
    <style>
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
      }

      @media (max-width: 991px) {
        #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 45px;
        }
      }
    </style>

    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light">
      <h1 class="mb-3 h2">About Kevin Gutierrez</h1>
      <p class="mb-3">The following pages give information about <br /> Kevin Gutierrez.</p>
      <a class="btn btn-primary m-2" href="https://www.youtube.com/channel/UCo4iyQkMAU0dY7yxpYd4D1g" role="button"
        rel="nofollow" target="_blank">
        Youtube Link</a>
      <a class="btn btn-primary m-2"
        href="https://drive.google.com/file/d/1_WTWcSWgE5NyWx_14aMRAHbNjBjZJtOQ/view?usp=sharing" target="_blank"
        role="button">Resume</a>
      <a class="btn btn-primary m-2" href="https://github.com/kygm" role="button" rel="nofollow" target="_blank">GitHub
        Link</a>
    </div>
    <!-- Jumbotron -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Details about what I do</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://i.imgur.com/gP5f8o2.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">KYGM Services</h5>
                <p class="card-text">
                  My small business that I created in 2018. Click read to see how the business has progressed.
                </p>
                <a href="/website/kygm_services" class="btn btn-primary">Services</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://i.imgur.com/P3uwJE1.jpg" class="img-fluid" />
                <a href="./website/small_engines">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Small Engine Repair</h5>
                <p class="card-text">
                  Vew details regarding how I began repairing, and selling dirt bikes, four wheelers, motorcycles, and a
                  wide variaty
                  of low displacement tools.
                </p>
                <a href="/website/small_engines" class="btn btn-primary">Repair</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://i.imgur.com/76wPj3R.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Software Development/Programming</h5>
                <p class="card-text">
                  Click here to see how I got into software development, and what my current
                  projects are.
                </p>
                <a href="/website/developing" class="btn btn-primary">Development</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://i.imgur.com/zwFSx4X.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Investing</h5>
                <p class="card-text">
                  View my current portfolio allocations and how I got into investing.
                </p>
                <a href="/website/investing" class="btn btn-primary">Portfolio</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://i.imgur.com/MwGlH24.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Firefighting</h5>
                <p class="card-text">
                  A basic rundown of how I got into firefighting.
                </p>
                <a href="/website/firefighting" class="btn btn-primary">Firefighting</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://i.imgur.com/SxdbMXz.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Translating</h5>
                <p class="card-text">
                  Some details regarding how I began translating and how rewarding speaking a second language
                  can be.
                </p>
                <a href="/website/translating" class="btn btn-primary">Translating</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <!-- Pagination -->

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="bg-light text-lg-start">


    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
      <p>Follow me on social media</p>
      <a href="https://www.instagram.com/kevdog2000.0" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-instagram">Instagram</i>
      </a>

    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      KYGM 2021
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript" src="js/script.js"></script>
</body>

</html>